/* tabs.css */
/* Am Resetting the default margin and padding to 0 */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set up  font family na  a background for the body content */
body {
  font-family: "Roboto", sans-serif;
  background-color: #000; /* Dark background color */
  color: #171212; /* dark text color */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #dd090c;
}

.tabs {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*light shadow */
}

.tabNavigation {
  list-style: none;
  padding: 10px 0;
  display: flex;
  justify-content: space-around; /* Align tabs evenly on the flex container*/
  background: linear-gradient(to bottom, #b20710, #dd090c);
  border-radius: 10px;
  margin-bottom: 20px;
}

.tabNavigation li {
  display: inline;
}

.tabNavigation li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff; /* Tab text color */
  transition: color 0.3s ease; /* Smooth color transition */
  position: relative;
}

.tabNavigation li a:hover {
  color: #ccc; /* Lighter color on hover */
}

.tabNavigation li a.selected {
  color: #fff; /* Selected tab text color */
  font-weight: bold;
}

.tabs > div {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent dark background */
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Light border between tabs */
}

.tabs > div h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.tabs > div p {
  font-size: 16px;
  line-height: 1.5;
}

/* Responsive styles for various screen sizes */
@media screen and (max-width: 600px) {
  .tabNavigation {
    flex-direction: column; /* Stack tabs vertically on smaller screens */
  }

  .tabNavigation li {
    margin-bottom: 10px; /* Add spacing between stacked tabs */
  }

  .tabs > div {
    padding: 20px;
  }
}

.waste {
  min-height: 1000px;
}
/* styles for tab transitions */
div.tabs > div {
  padding: 25px;
  border: 1px solid #888;
  background-color: #fff;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
}
ul.tabNavigation a.selected {
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #fff;
  transform: scale(1.1);
}
/* -----end of the css!--- */
